automation/n8n/daily_check.json
{
  "name": "OvelhaInvest — Daily Check",
  "description": "Runs every weekday at 7AM ET (12:00 UTC). Takes performance snapshot, runs allocation engine, sends Telegram digest.",
  "active": false,
  "nodes": [
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300],
      "parameters": {
        "rule": {
          "interval": [{ "field": "cronExpression", "expression": "0 12 * * 1-5" }]
        }
      }
    },
    {
      "id": "a1b2c3d4-0002-0002-0002-000000000002",
      "name": "POST /performance/snapshot",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 300],
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.OVELHAINVEST_API_URL }}/performance/snapshot",
        "authentication": "none",
        "options": { "timeout": 30000 }
      }
    },
    {
      "id": "a1b2c3d4-0003-0003-0003-000000000003",
      "name": "POST /run_allocation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [640, 300],
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.OVELHAINVEST_API_URL }}/run_allocation",
        "authentication": "none",
        "sendBody": true,
        "contentType": "json",
        "body": "={\"user_id\": \"{{ $vars.OVELHAINVEST_USER_ID }}\", \"event_type\": \"daily_check\", \"notes\": \"Automated daily check — n8n\"}",
        "options": { "timeout": 120000 }
      }
    },
    {
      "id": "a1b2c3d4-0004-0004-0004-000000000004",
      "name": "Check: Paused?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [840, 300],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [{
            "id": "cond-1",
            "leftValue": "={{ $json.status }}",
            "rightValue": "paused",
            "operator": { "type": "string", "operation": "notEquals" }
          }]
        },
        "combineOperation": "all"
      }
    },
    {
      "id": "a1b2c3d4-0005-0005-0005-000000000005",
      "name": "Check: Needs Approval?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1040, 200],
      "parameters": {
        "conditions": {
          "conditions": [{
            "id": "cond-2",
            "leftValue": "={{ $json.approval_required_count }}",
            "rightValue": 0,
            "operator": { "type": "number", "operation": "larger" }
          }]
        },
        "combineOperation": "all"
      }
    },
    {
      "id": "a1b2c3d4-0006-0006-0006-000000000006",
      "name": "Telegram — Needs Approval",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1240, 120],
      "parameters": {
        "operation": "sendMessage",
        "chatId": "={{ $vars.TELEGRAM_CHAT_ID }}",
        "text": "={{ '⚠️ *Daily Check — Approval Required*\\n\\n' + $json.approval_required_count + ' trade\\(s\\) pending\\.\\n\\nNet Worth: \\$' + $json.total_value_usd.toFixed(0).replace(/\\B(?=(\\d{3})+(?!\\d))/g, ',') + '\\nRegime: ' + $json.regime_state + '\\n\\nOpen signals page to approve\\.' }}",
        "additionalFields": {
          "parse_mode": "MarkdownV2",
          "reply_markup": {
            "inline_keyboard": [[
              { "text": "✅ Open Signals", "url": "={{ $vars.APP_URL + '/signals' }}" }
            ]]
          }
        }
      },
      "credentials": { "telegramApi": { "id": "telegram-cred", "name": "Telegram" } }
    },
    {
      "id": "a1b2c3d4-0007-0007-0007-000000000007",
      "name": "Telegram — All Clear",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1240, 280],
      "parameters": {
        "operation": "sendMessage",
        "chatId": "={{ $vars.TELEGRAM_CHAT_ID }}",
        "text": "={{ '✅ *Daily Check — All Clear*\\n\\nNet Worth: \\$' + $json.total_value_usd.toFixed(0).replace(/\\B(?=(\\d{3})+(?!\\d))/g, ',') + '\\nRegime: ' + $json.regime_state + '\\nDeferred DCA: ' + ($json.deferred_dca ? 'Yes' : 'No') }}",
        "additionalFields": { "parse_mode": "MarkdownV2" }
      },
      "credentials": { "telegramApi": { "id": "telegram-cred", "name": "Telegram" } }
    },
    {
      "id": "a1b2c3d4-0008-0008-0008-000000000008",
      "name": "Telegram — Paused",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1040, 440],
      "parameters": {
        "operation": "sendMessage",
        "chatId": "={{ $vars.TELEGRAM_CHAT_ID }}",
        "text": "⛔ *Daily Check Blocked*\\nAutomation is paused \\(drawdown gate\\)\\. Use /admin/resume to re\\-enable\\.",
        "additionalFields": { "parse_mode": "MarkdownV2" }
      },
      "credentials": { "telegramApi": { "id": "telegram-cred", "name": "Telegram" } }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [[{ "node": "POST /performance/snapshot", "type": "main", "index": 0 }]]
    },
    "POST /performance/snapshot": {
      "main": [[{ "node": "POST /run_allocation", "type": "main", "index": 0 }]]
    },
    "POST /run_allocation": {
      "main": [[{ "node": "Check: Paused?", "type": "main", "index": 0 }]]
    },
    "Check: Paused?": {
      "main": [
        [{ "node": "Check: Needs Approval?", "type": "main", "index": 0 }],
        [{ "node": "Telegram — Paused",       "type": "main", "index": 0 }]
      ]
    },
    "Check: Needs Approval?": {
      "main": [
        [{ "node": "Telegram — Needs Approval", "type": "main", "index": 0 }],
        [{ "node": "Telegram — All Clear",       "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "saveManualExecutions": true,
    "saveExecutionProgress": true,
    "callerPolicy": "workflowsFromSameOwner",
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": ["ovelhainvest", "daily"],
  "pinData": {}
}
