automation/n8n/journal_outcome_backfill.json
{
  "name": "OvelhaInvest — Journal Outcome Backfill",
  "description": "Runs daily at 00:05 UTC. Finds journal entries ≥30d or ≥90d old with missing outcomes. Uses POST /journal/backfill API endpoint to trigger server-side backfill with asset_valuations lookup. Falls back to performance/summary proxy for portfolio-level entries. Sends Telegram summary when entries are updated.",
  "active": false,
  "nodes": [
    {
      "id": "d4e5f6a7-0001-0001-0001-000000000001",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300],
      "parameters": {
        "rule": {
          "interval": [{ "field": "cronExpression", "expression": "5 0 * * *" }]
        }
      }
    },
    {
      "id": "d4e5f6a7-0010-0010-0010-000000000010",
      "name": "POST /journal/backfill",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 300],
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.OVELHAINVEST_API_URL }}/journal/backfill?user_id={{ $vars.OVELHAINVEST_USER_ID }}",
        "authentication": "none",
        "options": { "timeout": 60000 }
      }
    },
    {
      "id": "d4e5f6a7-0011-0011-0011-000000000011",
      "name": "Check: Any Queued?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [640, 300],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [{
            "id": "cond-queued",
            "leftValue": "={{ $json.queued }}",
            "rightValue": 0,
            "operator": { "type": "number", "operation": "gt" }
          }]
        },
        "combineOperation": "all"
      }
    },
    {
      "id": "d4e5f6a7-0012-0012-0012-000000000012",
      "name": "Wait 90s for backfill",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [840, 160],
      "parameters": {
        "resume": "timeInterval",
        "unit": "seconds",
        "amount": 90
      }
    },
    {
      "id": "d4e5f6a7-0013-0013-0013-000000000013",
      "name": "GET /journal/stats",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1040, 160],
      "parameters": {
        "method": "GET",
        "url": "={{ $vars.OVELHAINVEST_API_URL }}/journal/stats?user_id={{ $vars.OVELHAINVEST_USER_ID }}",
        "authentication": "none",
        "options": { "timeout": 30000 }
      }
    },
    {
      "id": "d4e5f6a7-0014-0014-0014-000000000014",
      "name": "Build Telegram Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1240, 160],
      "parameters": {
        "jsCode": "const stats = $input.first().json;\nconst queued = $('POST /journal/backfill').first().json.queued;\nconst f30 = stats.avg_outcome_followed_30d != null ? (stats.avg_outcome_followed_30d * 100).toFixed(1) + '%' : 'n/a';\nconst o30 = stats.avg_outcome_overrode_30d != null ? (stats.avg_outcome_overrode_30d * 100).toFixed(1) + '%' : 'n/a';\nconst delta = stats.system_outperformance_30d != null ? (stats.system_outperformance_30d * 100).toFixed(1) + '%' : 'n/a';\nconst msg = `📓 *Journal Outcome Backfill Complete*\\n\\n`\n  + `Updated ${queued} entr${queued === 1 ? 'y' : 'ies'} with 30d\\/90d outcomes\\.\\n\\n`\n  + `📊 *Current Accuracy \\(30d\\):*\\n`\n  + `  • Followed system: \\+${f30}\\n`\n  + `  • Overrode system: \\+${o30}\\n`\n  + `  • System edge: \\+${delta}\\n\\n`\n  + `_\\[automated backfill \\ OvelhaInvest\\]_`;\nreturn [{ json: { text: msg } }];"
      }
    },
    {
      "id": "d4e5f6a7-0015-0015-0015-000000000015",
      "name": "Telegram: Backfill Done",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1440, 160],
      "parameters": {
        "chatId": "={{ $vars.TELEGRAM_CHAT_ID }}",
        "text": "={{ $json.text }}",
        "additionalFields": { "parse_mode": "MarkdownV2", "disable_notification": true }
      },
      "credentials": { "telegramApi": { "id": "telegram-cred-id", "name": "Telegram Bot" } }
    },
    {
      "id": "d4e5f6a7-0016-0016-0016-000000000016",
      "name": "No Backfill Needed",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [840, 440],
      "parameters": {}
    },
    {
      "id": "d4e5f6a7-0017-0017-0017-000000000017",
      "name": "Error Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1240, 440],
      "parameters": {
        "jsCode": "const err = $input.first().json;\nconsole.error('Journal backfill workflow error:', JSON.stringify(err));\nreturn [{ json: { error: true, message: String(err?.message ?? err) } }];"
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [[{ "node": "POST /journal/backfill", "type": "main", "index": 0 }]]
    },
    "POST /journal/backfill": {
      "main": [[{ "node": "Check: Any Queued?", "type": "main", "index": 0 }]]
    },
    "Check: Any Queued?": {
      "main": [
        [{ "node": "Wait 90s for backfill", "type": "main", "index": 0 }],
        [{ "node": "No Backfill Needed",   "type": "main", "index": 0 }]
      ]
    },
    "Wait 90s for backfill": {
      "main": [[{ "node": "GET /journal/stats", "type": "main", "index": 0 }]]
    },
    "GET /journal/stats": {
      "main": [[{ "node": "Build Telegram Summary", "type": "main", "index": 0 }]]
    },
    "Build Telegram Summary": {
      "main": [[{ "node": "Telegram: Backfill Done", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "saveManualExecutions": true,
    "saveExecutionProgress": true,
    "callerPolicy": "workflowsFromSameOwner",
    "executionOrder": "v1",
    "errorWorkflow": "d4e5f6a7-0017-0017-0017-000000000017"
  },
  "staticData": null,
  "tags": ["ovelhainvest", "journal"],
  "pinData": {}
}
