automation/n8n/journal_outcome_backfill.json
{
  "name": "OvelhaInvest — Journal Outcome Backfill",
  "description": "Runs daily at midnight UTC (00:05). Finds journal entries ≥30d or ≥90d old with missing outcomes. Fetches performance returns and patches each entry via PATCH /journal/{id}/outcome.",
  "active": false,
  "nodes": [
    {
      "id": "d4e5f6a7-0001-0001-0001-000000000001",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300],
      "parameters": {
        "rule": {
          "interval": [{ "field": "cronExpression", "expression": "5 0 * * *" }]
        }
      }
    },
    {
      "id": "d4e5f6a7-0002-0002-0002-000000000002",
      "name": "GET /journal",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 300],
      "parameters": {
        "method": "GET",
        "url": "={{ $vars.OVELHAINVEST_API_URL }}/journal?limit=200&user_id={{ $vars.OVELHAINVEST_USER_ID }}",
        "authentication": "none",
        "options": { "timeout": 30000 }
      }
    },
    {
      "id": "d4e5f6a7-0003-0003-0003-000000000003",
      "name": "Filter: Needs Backfill",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [640, 300],
      "parameters": {
        "jsCode": "// Filter entries needing 30d or 90d outcome backfill\nconst entries = $input.all().flatMap(i => Array.isArray(i.json) ? i.json : [i.json]);\nconst now = new Date();\nconst toBackfill = [];\nfor (const e of entries) {\n  const age = (now - new Date(e.event_date)) / (1000 * 60 * 60 * 24);\n  const needs30 = age >= 30 && e.outcome_30d == null;\n  const needs90 = age >= 90 && e.outcome_90d == null;\n  if (needs30 || needs90) {\n    toBackfill.push({ json: { ...e, needs_30d: needs30, needs_90d: needs90, age_days: Math.floor(age) } });\n  }\n}\nreturn toBackfill.length > 0 ? toBackfill : [{ json: { _empty: true } }];"
      }
    },
    {
      "id": "d4e5f6a7-0004-0004-0004-000000000004",
      "name": "Check: Has Entries?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [840, 300],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [{
            "id": "cond-1",
            "leftValue": "={{ $json._empty }}",
            "rightValue": true,
            "operator": { "type": "boolean", "operation": "notEquals" }
          }]
        },
        "combineOperation": "all"
      }
    },
    {
      "id": "d4e5f6a7-0005-0005-0005-000000000005",
      "name": "GET /performance/summary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1040, 160],
      "parameters": {
        "method": "GET",
        "url": "={{ $vars.OVELHAINVEST_API_URL }}/performance/summary?user_id={{ $vars.OVELHAINVEST_USER_ID }}",
        "authentication": "none",
        "options": { "timeout": 30000 }
      }
    },
    {
      "id": "d4e5f6a7-0006-0006-0006-000000000006",
      "name": "PATCH /journal/{id}/outcome",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1240, 160],
      "parameters": {
        "method": "PATCH",
        "url": "={{ $vars.OVELHAINVEST_API_URL }}/journal/{{ $('Filter: Needs Backfill').item.json.id }}/outcome",
        "authentication": "none",
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ outcome_30d: $('Filter: Needs Backfill').item.json.needs_30d ? ($json.period_returns?.['1mo']?.portfolio ?? null) : undefined, outcome_90d: $('Filter: Needs Backfill').item.json.needs_90d ? ($json.period_returns?.['3mo']?.portfolio ?? null) : undefined }) }}",
        "options": { "timeout": 15000 }
      }
    },
    {
      "id": "d4e5f6a7-0007-0007-0007-000000000007",
      "name": "No Backfill Needed",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1040, 440],
      "parameters": {}
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [[{ "node": "GET /journal", "type": "main", "index": 0 }]]
    },
    "GET /journal": {
      "main": [[{ "node": "Filter: Needs Backfill", "type": "main", "index": 0 }]]
    },
    "Filter: Needs Backfill": {
      "main": [[{ "node": "Check: Has Entries?", "type": "main", "index": 0 }]]
    },
    "Check: Has Entries?": {
      "main": [
        [{ "node": "GET /performance/summary", "type": "main", "index": 0 }],
        [{ "node": "No Backfill Needed",        "type": "main", "index": 0 }]
      ]
    },
    "GET /performance/summary": {
      "main": [[{ "node": "PATCH /journal/{id}/outcome", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "saveManualExecutions": true,
    "saveExecutionProgress": true,
    "callerPolicy": "workflowsFromSameOwner",
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": ["ovelhainvest", "journal"],
  "pinData": {}
}
