automation/n8n/monthly_report.json
{
  "name": "OvelhaInvest — Monthly Report Generator",
  "description": "Runs on the 1st of each month at 06:00 UTC. Triggers PDF report generation for the previous month, waits for completion, then sends Telegram notification with download link. Also triggers journal backfill and AI insight refresh for the month-end summary.",
  "active": false,
  "nodes": [
    {
      "id": "mr-0001-0001-0001-0001-000000000001",
      "name": "Monthly Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300],
      "parameters": {
        "rule": {
          "interval": [{ "field": "cronExpression", "expression": "0 6 1 * *" }]
        }
      }
    },
    {
      "id": "mr-0002-0002-0002-0002-000000000002",
      "name": "Compute Previous Month",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 300],
      "parameters": {
        "jsCode": "const now = new Date();\nconst prevMonth = new Date(now.getFullYear(), now.getMonth() - 1, 1);\nreturn [{ json: {\n  year: prevMonth.getFullYear(),\n  month: prevMonth.getMonth() + 1,\n  month_name: prevMonth.toLocaleString('en-US', { month: 'long' }),\n  label: `${prevMonth.toLocaleString('en-US', { month: 'long' })} ${prevMonth.getFullYear()}`\n} }];"
      }
    },
    {
      "id": "mr-0003-0003-0003-0003-000000000003",
      "name": "POST /reports/generate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [640, 300],
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.OVELHAINVEST_API_URL }}/reports/generate",
        "authentication": "none",
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ report_type: 'monthly', year: $('Compute Previous Month').first().json.year, month: $('Compute Previous Month').first().json.month, user_id: $vars.OVELHAINVEST_USER_ID }) }}",
        "options": { "timeout": 30000 }
      }
    },
    {
      "id": "mr-0004-0004-0004-0004-000000000004",
      "name": "Store Task ID",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [840, 300],
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "task-id", "name": "task_id",    "value": "={{ $json.task_id }}",    "type": "string" },
            { "id": "dl-url",  "name": "dl_url",     "value": "={{ $json.download_url }}", "type": "string" }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "mr-0005-0005-0005-0005-000000000005",
      "name": "Wait 3 minutes",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1040, 300],
      "parameters": {
        "resume": "timeInterval",
        "unit": "minutes",
        "amount": 3
      }
    },
    {
      "id": "mr-0006-0006-0006-0006-000000000006",
      "name": "GET /reports/result",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1240, 300],
      "parameters": {
        "method": "GET",
        "url": "={{ $vars.OVELHAINVEST_API_URL }}/reports/result/{{ $('Store Task ID').first().json.task_id }}",
        "authentication": "none",
        "options": { "timeout": 30000 }
      }
    },
    {
      "id": "mr-0007-0007-0007-0007-000000000007",
      "name": "Check: Report Ready?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1440, 300],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "strict" },
          "conditions": [{
            "id": "cond-ready",
            "leftValue": "={{ $json.status }}",
            "rightValue": "ready",
            "operator": { "type": "string", "operation": "equals" }
          }]
        },
        "combineOperation": "all"
      }
    },
    {
      "id": "mr-0008-0008-0008-0008-000000000008",
      "name": "Build Report Telegram",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1640, 160],
      "parameters": {
        "jsCode": "const prevMonth = $('Compute Previous Month').first().json;\nconst taskId = $('Store Task ID').first().json.task_id;\nconst sizeKb = Math.round(($input.first().json.size_bytes ?? 0) / 1024);\nconst appUrl = $vars.OVELHAINVEST_APP_URL ?? 'http://ovelhainvest.local';\nconst dlPath = `/reports/download/${taskId}`;\nconst msg = `📊 *Monthly Report Ready — ${prevMonth.label.replace(/[.!()-]/g, '\\\\$&')}*\\n\\n`\n  + `Your ${prevMonth.month_name} portfolio report has been generated\\.\\n\\n`\n  + `📄 *Size:* ${sizeKb} KB\\n`\n  + `🔗 *Download:* [Open Report](${appUrl}${dlPath})\\n\\n`\n  + `_Includes: portfolio summary, performance, attribution, tax, journal analysis_`;\nreturn [{ json: { text: msg } }];"
      }
    },
    {
      "id": "mr-0009-0009-0009-0009-000000000009",
      "name": "Telegram: Report Ready",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1840, 160],
      "parameters": {
        "chatId": "={{ $vars.TELEGRAM_CHAT_ID }}",
        "text": "={{ $json.text }}",
        "additionalFields": { "parse_mode": "MarkdownV2" }
      },
      "credentials": { "telegramApi": { "id": "telegram-cred-id", "name": "Telegram Bot" } }
    },
    {
      "id": "mr-0010-0010-0010-0010-000000000010",
      "name": "POST /journal/backfill (month-end)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1840, 300],
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.OVELHAINVEST_API_URL }}/journal/backfill?user_id={{ $vars.OVELHAINVEST_USER_ID }}",
        "authentication": "none",
        "options": { "timeout": 60000 }
      }
    },
    {
      "id": "mr-0011-0011-0011-0011-000000000011",
      "name": "Report Not Ready (retry skipped)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1640, 440],
      "parameters": {}
    }
  ],
  "connections": {
    "Monthly Schedule": {
      "main": [[{ "node": "Compute Previous Month", "type": "main", "index": 0 }]]
    },
    "Compute Previous Month": {
      "main": [[{ "node": "POST /reports/generate", "type": "main", "index": 0 }]]
    },
    "POST /reports/generate": {
      "main": [[{ "node": "Store Task ID", "type": "main", "index": 0 }]]
    },
    "Store Task ID": {
      "main": [[{ "node": "Wait 3 minutes", "type": "main", "index": 0 }]]
    },
    "Wait 3 minutes": {
      "main": [[{ "node": "GET /reports/result", "type": "main", "index": 0 }]]
    },
    "GET /reports/result": {
      "main": [[{ "node": "Check: Report Ready?", "type": "main", "index": 0 }]]
    },
    "Check: Report Ready?": {
      "main": [
        [{ "node": "Build Report Telegram",              "type": "main", "index": 0 }],
        [{ "node": "Report Not Ready (retry skipped)",   "type": "main", "index": 0 }]
      ]
    },
    "Build Report Telegram": {
      "main": [
        [{ "node": "Telegram: Report Ready",            "type": "main", "index": 0 }],
        [{ "node": "POST /journal/backfill (month-end)", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "saveManualExecutions": true,
    "saveExecutionProgress": true,
    "callerPolicy": "workflowsFromSameOwner",
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": ["ovelhainvest", "reports", "monthly"],
  "pinData": {}
}
