automation/n8n/opportunity_scan.json
{
  "name": "OvelhaInvest — Opportunity Scan",
  "description": "Runs daily at 8AM ET (13:00 UTC) on weekdays. Scans for Tier 1/2 drawdown triggers with margin of safety. Fires run_allocation in opportunity mode if triggered; runs stress test to show downside scenario.",
  "active": false,
  "nodes": [
    {
      "id": "c3d4e5f6-0001-0001-0001-000000000001",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300],
      "parameters": {
        "rule": {
          "interval": [{ "field": "cronExpression", "expression": "0 13 * * 1-5" }]
        }
      }
    },
    {
      "id": "c3d4e5f6-0002-0002-0002-000000000002",
      "name": "GET /valuation_summary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 300],
      "parameters": {
        "method": "GET",
        "url": "={{ $vars.OVELHAINVEST_API_URL }}/valuation_summary?min_margin_of_safety=0.20",
        "authentication": "none",
        "options": { "timeout": 30000 }
      }
    },
    {
      "id": "c3d4e5f6-0003-0003-0003-000000000003",
      "name": "Check: Tier Triggered?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [640, 300],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [{
            "id": "cond-1",
            "leftValue": "={{ ($json.tier_1_count || 0) + ($json.tier_2_count || 0) }}",
            "rightValue": 0,
            "operator": { "type": "number", "operation": "larger" }
          }]
        },
        "combineOperation": "all"
      }
    },
    {
      "id": "c3d4e5f6-0004-0004-0004-000000000004",
      "name": "POST /run_allocation (opportunity)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [840, 160],
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.OVELHAINVEST_API_URL }}/run_allocation",
        "authentication": "none",
        "sendBody": true,
        "contentType": "json",
        "body": "={\"user_id\": \"{{ $vars.OVELHAINVEST_USER_ID }}\", \"event_type\": \"opportunity\", \"notes\": \"Automated opportunity scan — Tier trigger detected — n8n\"}",
        "options": { "timeout": 120000 }
      }
    },
    {
      "id": "c3d4e5f6-0008-0008-0008-000000000008",
      "name": "POST /simulation/stress_test (2020_covid)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [840, 300],
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.OVELHAINVEST_API_URL }}/simulation/stress_test",
        "authentication": "none",
        "sendBody": true,
        "contentType": "json",
        "body": "={\"scenario_key\": \"2020_covid\", \"user_id\": \"{{ $vars.OVELHAINVEST_USER_ID }}\"}",
        "options": { "timeout": 30000 }
      }
    },
    {
      "id": "c3d4e5f6-0005-0005-0005-000000000005",
      "name": "Telegram — Opportunity Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1040, 160],
      "parameters": {
        "operation": "sendMessage",
        "chatId": "={{ $vars.TELEGRAM_CHAT_ID }}",
        "text": "={{ '🚨 *OPPORTUNITY ALERT*\\n\\nTier 1: ' + ($('GET /valuation_summary').item.json.tier_1_count || 0) + ' asset\\(s\\)\\nTier 2: ' + ($('GET /valuation_summary').item.json.tier_2_count || 0) + ' asset\\(s\\)\\n\\n' + ($json.approval_required_count || 0) + ' trade\\(s\\) proposed — *approval required*\\.\\n\\n*Stress check \\(COVID analog\\):*\\n  Downside: \\-\\\\$' + (($('POST /simulation/stress_test (2020_covid)').item.json.total_loss_usd || 0).toFixed(0)) + ' \\(' + (($('POST /simulation/stress_test (2020_covid)').item.json.total_loss_pct || 0) * 100).toFixed(1) + '%\\)\\n  Recovery: ~' + ($('POST /simulation/stress_test (2020_covid)').item.json.estimated_recovery_months || '?') + 'mo\\n\\n_Marks principle: Buy when fear is highest\\._ ' }}",
        "additionalFields": {
          "parse_mode": "MarkdownV2",
          "reply_markup": {
            "inline_keyboard": [[
              { "text": "✅ Review Signals",  "url": "={{ $vars.APP_URL + '/signals' }}" },
              { "text": "📊 Stress Test",     "url": "={{ $vars.APP_URL + '/projections' }}" }
            ]]
          }
        }
      },
      "credentials": { "telegramApi": { "id": "telegram-cred", "name": "Telegram" } }
    },
    {
      "id": "c3d4e5f6-0006-0006-0006-000000000006",
      "name": "No Trigger — Skip",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [840, 440],
      "parameters": {}
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [[{ "node": "GET /valuation_summary", "type": "main", "index": 0 }]]
    },
    "GET /valuation_summary": {
      "main": [[{ "node": "Check: Tier Triggered?", "type": "main", "index": 0 }]]
    },
    "Check: Tier Triggered?": {
      "main": [
        [{ "node": "POST /run_allocation (opportunity)", "type": "main", "index": 0 }],
        [{ "node": "No Trigger — Skip",                  "type": "main", "index": 0 }]
      ]
    },
    "POST /run_allocation (opportunity)": {
      "main": [[{ "node": "POST /simulation/stress_test (2020_covid)", "type": "main", "index": 0 }]]
    },
    "POST /simulation/stress_test (2020_covid)": {
      "main": [[{ "node": "Telegram — Opportunity Alert", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "saveManualExecutions": true,
    "saveExecutionProgress": true,
    "callerPolicy": "workflowsFromSameOwner",
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": ["ovelhainvest", "opportunity", "simulation"],
  "pinData": {}
}
